# DS 5001 Project Notebook: Greek and Roman Mythology

- David Vann (dv6bq@virginia.edu)
- DS 5001
- 5 May 2021

In [1]:
import os
from glob import glob

import numpy as np
import pandas as pd
import nltk

from eta_modules.preprocessing import Document, Corpus

In [2]:
# nltk.download('punkt')
# nltk.download('averaged_perceptron_tagger')
# nltk.download('stopwords')

## Reading in the data

We start by loading in the XML files for each work and parsing them to a reasonable degree with BeautifulSoup and NLTK. 

Since these works are all either plays or poems/epics, the concept of a "chapter" or "paragraph" doesn't translate perfectly compared to, e.g., a novel. However, the Perseus Digital Library (where these files are sourced from) has added at least top-level divisions to break up texts. In some cases, these divisions truly exist in the text (for example, *The Iliad* is broken into 24 books); in other cases, like plays, these divisions don't seem to be directly present in the text, but are akin to something like a "scene". I've considered all of these largest divisions as "chapters".

To get at something like a "paragraph", I used a different approach based on whether the work was a play or not:

- For plays, I used each speaker section (denoted by a "\<sp>" in the files) as a "paragraph". 
- For everything else, there wasn't a built-in tag for "paragraph"-type divisions, but there is a self-closing "milestone" tag that marks the start of a new "card" used on the Perseus website to denote content to be displayed on one page. Since these are self-closing, they don't actually enclose the particular block of text that I wanted to get at; instead, I replaced these with newlines and split up text based on a double newline, which seemed to give fairly satisfactory results.

In [3]:
root_dir = os.path.abspath('..')
data_dir = os.path.join(root_dir, 'data')
output_dir = os.path.join(data_dir, 'outputs')

docpaths = glob(os.path.join(data_dir, 'raw', '**', '*.xml'), recursive=True)

OHCO = ['work', 'chapter', 'para', 'sent']

In [4]:
doc_list = []

for path in docpaths:
    doc = Document(path)
    doc_list.append(doc)
    
    doc.parse_text_to_paras()
    doc.tokenize(remove_pos_tuple=True, remove_ws=True)

In [5]:
paragraph_bag = OHCO[:3]

corp = Corpus(doc_list)
corp.extract_annotate_vocab()
corp.compute_tfidf(OHCO_level=paragraph_bag, methods=['n', 'max'])

In [12]:
corp.vocab.sort_values('tfidf_n_sum', ascending=False).head(50)

              n  stop p_stem    df       idf  tfidf_n_sum  tfidf_max_sum
term_str
the       43121     1    the  3134  0.726339     0.011758       0.003706
and       31239     1    and  2611  0.989742     0.011607       0.003671
of        23120     1     of  2745  0.917538     0.007962       0.003366
his        9463     1     hi  1663  1.640556     0.005826       0.002838
to        16830     1     to  2888  0.844273     0.005332       0.003111
he         8525     1     he  1670  1.634496     0.005229       0.002890
in        11637     1     in  2341  1.147219     0.005009       0.003007
a         10113     1      a  2195  1.240123     0.004705       0.003009
her        4765     1    her  1000  2.374344     0.004244       0.002384
with       8008     1   with  1954  1.407914     0.004230       0.002778
           6141     0         1609  1.688180     0.003889       0.002574
that       7519     1   that  2150  1.270007     0.003582       0.002917
i          8185     1      i  2316  1.162709     0.003570       0.003353
him        4890     1    him  1350  1.941385     0.003561       0.002484
for        6821     1    for  2099  1.304642     0.003338       0.002866
my         5394     1     my  1686  1.620739     0.003279       0.003092
but        5420     1    but  1767  1.553042     0.003157       0.002651
from       5455     1   from  1801  1.525546     0.003121       0.002639
she        3027     1    she   784  2.725418     0.003094       0.002009
was        4060     1     wa  1320  1.973806     0.003005       0.002430
as         4582     1     as  1550  1.742076     0.002993       0.002526
thou       2550     0   thou   630  3.040920     0.002908       0.001667
they       3402     1   they  1155  2.166451     0.002763       0.002243
all        4087     1    all  1496  1.793234     0.002748       0.002419
me         4011     1     me  1549  1.743007     0.002621       0.002958
you        5310     1    you  2088  1.312222     0.002612       0.003821
their      3136     1  their  1124  2.205702     0.002593       0.002153
on         3986     1     on  1558  1.734649     0.002592       0.002443
it         4294     1     it  1754  1.563695     0.002517       0.002837
not        4324     1    not  1858  1.480593     0.002400       0.002862
is         4887     1     is  2099  1.304642     0.002390       0.003022
so         3347     1     so  1407  1.881722     0.002361       0.002384
by         3498     1     by  1511  1.778840     0.002332       0.002490
them       2563     1   them  1037  2.321928     0.002230       0.002066
had        2541     1    had  1030  2.331700     0.002221       0.002019
thy        1799     0    thi   544  3.252665     0.002193       0.001510
be         3123     1     be  1437  1.851284     0.002167       0.002560
then       2948     1   then  1350  1.941385     0.002145       0.002432
when       2754     1   when  1264  2.036348     0.002102       0.002220
this       3331     1    thi  1667  1.637090     0.002043       0.002798
son        2189     0    son   925  2.486819     0.002040       0.001958
your       2520     1   your  1184  2.130675     0.002012       0.003047
will       2792     1   will  1377  1.912815     0.002001       0.002747
at         2605     1     at  1309  1.985879     0.001938       0.002325
now        2494     1    now  1251  2.051262     0.001917       0.002289
have       2664     1   have  1438  1.850280     0.001847       0.002704
upon       2074     0   upon  1003  2.370022     0.001841       0.001960
thee       1495     0   thee   535  3.276733     0.001835       0.001440
were       1932     1   were   903  2.521546     0.001825       0.001897
who        2260     1    who  1221  2.086281     0.001766       0.002398

In [7]:
# corp.save_tables(os.path.join(output_dir, 'corpus'))